* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    --main-color: #2b2b2b;
    --medium-color: #808080;
    --light-color: #efefef;

    font-family: 'Courier New';
    background-color: #ccc;
    color: var(--main-color);
}

body, ul, nav, header, footer, a, li, label, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* ---------------->>> HEADER SECTION <<<--------------- */

.header {
    user-select: none;
    container-type: inline-size;
    container-name: header;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0;
    background-color: var(--light-color);
    box-shadow: 0 0 3px var(--main-color);
}

.header_logo {
    width: 72px;
    max-width: 100%;
}

.header .header_checkbox {
    display: none;
}

.header_nav-button {
    position: absolute;
    right: 10px;
    padding: 0 10px;

    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 600;
}

.header_nav {
    display: none;
    position: absolute;
    z-index: -1;

    top: 0;
    height: 25vh;
    width: 100vw;

    background-color: var(--light-color);
}

.header_checkbox:checked ~ .header_nav{
    display: flex;
}

.header_nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    font-size: 1.2em;
    font-style: italic;
}

.header_nav-item {
    margin-top: 10px;
    list-style: none;
}

.header_nav-item a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
}

.header_nav-item a:is(:hover,:active) {
    opacity: 0.6;
}

/* ---------------->>> HEADER QUERIES <<<--------------- */

@container header (min-width: 550px) {
    .header_nav {
        display: block;
        position: static;

        height: auto;
        width: auto;
        justify-content: space-between;
    }

    .header_nav-list{
        flex-direction: row;
        margin-right: 40px;
        margin-bottom: 10px;
        gap: 20px;
    }

    .header_nav-button {
        display: none;
    }
}

/* ---------------->>> MAIN SECTION <<<--------------- */
/* ---------------->>> INFORMATION SECTION <<<--------------- */

.information {
    container-type: inline-size;
    container-name: information;

    position: relative;
    z-index: -10;
}

.information_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    margin-bottom: 20px;
    max-width: 1000px;
    background-color: var(--light-color);
}

.information_image-container {
    min-width: 300px;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
}

.information_img {
    width: 400px;
    max-width: 100%;
}

.information_data-container {
    max-width: 800px;
    padding: 0 18px;
    margin: auto;
}

.information_data-container h1 {
    margin-top: 10px;
    margin-bottom: 7px;
    font-size:1.8em;
}

.information_data-container p {
    text-align: left;
    font-size: 1.1em;
}

/* ---------------->>> ALLIES SECTION <<<--------------- */

.information_allies-container {
    margin-bottom: 20px;
}

.information_allies-container h2 {
    margin: 15px 0 0 5px;

    font-size: 1.3em;
    font-style: italic;
}

.information_ally {
    display: flex;
    margin: 10px 0;

    list-style: none;
}

.ally_bar {
    width: 60%;
    padding: 3px;
    margin: 3px 0;

    color: var(--light-color);
    font-size: 0.8em;
    border: 2.3px solid var(--main-color);
    border-radius: 9px;
}

.ally_bar-box {
    padding: 4px 6px;

    background-color: var(--main-color);
    border-radius: 6px;
    
    animation: fill-bar 1s linear reverse;
}

.bar-80 {
    width: 80%;
}

.bar-55 {
    width: 55%;
}
.bar-70 {
    width: 70%;
}
.bar-62 {
    width: 62%;
}
.bar-35 {
    width: 35%;
}

@keyframes fill-bar {
    from {
    }
    to {
        width: 100%;
    }
}

.information_ally span {
    margin: auto 5px;

    font-size: 0.9rem;
    font-style: italic;
}

/* ---------------->>> INFORMATION QUERIES <<<--------------- */

@container information (min-width: 700px) {
    .information_wrapper {
        flex-direction: row;
        height: auto;
        margin-top: 12px;

        font-size: 1em;
        background-color: var(--light-color);
        border-radius: 25px;
    }

    .information_image-container {
        margin: 0;
        border-radius: 25px 0 0 25px;
    }

    .information_img {
        height: 100%;
        object-fit: cover;
        width: 500px;
    }

    .information_data-container {
        margin: auto;
    }

    .information_data-container p {
        text-align: justify;
    }
}

/* ---------------->>> MEDIA SECTION <<<--------------- */

.media {
    user-select: none;
    container-type: inline-size;
    container-name: media;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 20px;

    color: var(--light-color);
    background-color: var(--main-color);
    text-align: center;
}

.media a {
    color: var(--light-color);
    text-decoration: none;
}

.media > h2 {
    margin-top: 20px;
    padding: 20px;
    font-size: 1.5em;
}

.media_wrapper {
    display: grid;
    grid-template-columns: 1fr;

    width: 100%;
    max-width: 1000px;
    min-height: 90vh;

    margin: auto;
    margin-bottom: 45px;
    gap: 12px;
    padding: 12px;
}

.media_box {
    display: grid;
    place-content: center;

    background-image: linear-gradient(#0005, #000), url(images/media.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.media_box:hover {
    opacity: 0.75;
    outline: 2px solid var(--medium-color);
}

.media-name {
    font-size: 1.2em;
    font-style: italic;
    opacity: 0.8;
}

/* ---------------->>> MEDIA QUERIES <<<--------------- */

@container media (min-width: 500px) {
    .media_wrapper {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .media_box:first-child {
        grid-row: span 2;
    }

    .media_box:last-child {
        grid-column: span 2;
    }
}

/* ---------------->>> JOIN SECTION <<<--------------- */

.join {
    container-type: inline-size;
    container-name: join;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.join h2 {
    user-select: none;

    padding: 8px 17px;
    font-size: 1.3em;
}

.join_form {
    display: grid;

    margin-bottom: 30px;
    padding: 12px 30px;
    width: 100%;
    max-width: 600px;
}

.form_input > label {
    user-select: none;
    
    margin-left: 12px;
    color: var(--main-color);
    font-style: italic;
}

.form_input :is(input, .textarea, .input-gender) {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 12px 6px;

    font-size: 0.8em;
    font-style: italic;

    outline: none;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    background-color: transparent;

    transition: 0.3s background-color;
}

.form_email-gender {
    display: flex;
    gap: 14px;
}

.form_input .textarea {
    resize: none;
    min-height: 130px;

    font-family: inherit;
    font-size: inherit;
}

.form_input .button {
    color: var(--light-color);
    background-color: var(--main-color);

    font-weight: bold;
    letter-spacing: 1px;
}

input:hover:not(.button), .textarea:hover, .input-gender:hover {
    background-color: var(--main-color);
    color: var(--light-color);
}

.button:hover {
    opacity: 0.6;
}

/* ---------------->>> JOIN QUERIES <<<--------------- */

@container join (min-width: 600px) {
    .join_form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "name password"
        "gender_email gender_email"
        "message message"
        "button button";
        gap: 12px;
    }

    .form_input {
        width: 100%;
    }

    .form_input:first-child{
        grid-area: name;
    }

    .form_input:nth-child(2) {
        grid-area: password;
    }

    .form_email-gender {
        grid-area: gender_email;
    }

    .form_input:nth-child(4) {
        grid-area: message;
    }

    .form_input:last-child {
        grid-area: button;
    }

    .form_email-gender .form_input:first-child {
        flex: 1;
    }

    .form_email-gender .form_input:last-child {
        flex: 3;
    }
}

/* ---------------->>> QUOTE SECTION <<<--------------- */

.quote {
    margin: 25px;

    text-align: justify;
}

/* ---------------->>> FOOTER SECTION <<<--------------- */

.footer {
    padding: 60px;

    text-align: center;
    font-size: 1em;
    background-color: var(--main-color);
    color: var(--light-color);
}